
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2, h3 {
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

input[type="number"],
input[type="text"],
input[type="date"],
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}



button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}


#valbudget {
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 23px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
}

td {
  background-color: rgba(255, 255, 255, 0.9);
}




#budgetBaqaya {
  font-size: 20px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  transition: color 0.3s ease;
}

#budgetBaqaya.green {
  color: #1abc9c;
}

#budgetBaqaya.red {
  color: #f8341e;
}




